<ion-content>
  <div class="login-container">
    <div class="glass-card animated bounceInDown">
      <h1>Create Account</h1>
      <p class="subtitle">Join the LibraryHub community</p>

      <form #signupForm="ngForm" (ngSubmit)="signup()">
        <ion-item>
          <ion-input
            label="Full Name"
            label-placement="floating"
            [(ngModel)]="name"
            name="name"
            #nameInput="ngModel"
            required>
          </ion-input>
        </ion-item>
        <div *ngIf="nameInput.invalid && (nameInput.touched || signupForm.submitted)" class="error-message">
          <div *ngIf="nameInput.errors?.['required']">Name is required.</div>
        </div>

        <ion-item>
          <ion-input
            label="Email Address"
            label-placement="floating"
            [(ngModel)]="email"
            name="email"
            type="email"
            #emailInput="ngModel"
            required
            [pattern]="emailPattern">
          </ion-input>
        </ion-item>
        <div *ngIf="emailInput.invalid && (emailInput.touched || signupForm.submitted)" class="error-message">
          <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
          <div *ngIf="emailInput.errors?.['pattern']">Please enter a valid email address.</div>
        </div>

        <ion-item>
          <ion-input
            label="Password"
            label-placement="floating"
            [(ngModel)]="password"
            name="password"
            type="password"
            #passwordInput="ngModel"
            required
            minlength="6">
          </ion-input>
        </ion-item>
        <div *ngIf="passwordInput.invalid && (passwordInput.touched || signupForm.submitted)" class="error-message">
          <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
          <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 characters.</div>
        </div>

        <ion-button class="sign-up-button ion-margin-top" type="submit" expand="block" [disabled]="signupForm.invalid">
          Sign Up
        </ion-button>
      </form>

      <div class="login-link">
        Already have an account? <a (click)="goToLogin()">Sign In</a>
      </div>
    </div>
  </div>
</ion-content>